@charset "utf-8";
body { 
	background-color: palegreen;
	color: darkgreen;
	background-image: url(../Images/background.jpg);
	font-family: 'Sen', sans-serif;
}
.navbar-expand-lg {
	background-color: darkgreen;
	color: palegreen;
}
.jumbotron { 
	background-color: palegreen;
	color: darkgreen;
}
section {
	background-color: palegreen;
	color: darkgreen;
}

.navbar { 
	background-color: palegreen;

}
.picture1 {
	background-color: palegreen;
	
}
.picture2 { 
	background-color: palegreen;
}
.picture3 { 
	background-color: palegreen;	
}
footer { 
	background-color: darkgreen;
	color: white;
}
.container {
	background-color: palegreen;
}